/*common shared style*/
body{
    font-family: lato, sans-serif;
    font-family: open sans, sans-serif;

}
.text : primary{
    color: #000; FD6UAO   
}
.color-primary
.btn-primary
border radius :5px;
backgroung= #   FD6UEO



/* nav related style*/
nav {
    display: flex;  
} 
.nav-title{
    color: blanchedalmond
    font-size: 45px;
    font-weight :800
} 
nav ul{
    display: flex;
} 
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}